@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    background-color: #D10000;
    font-family: roboto;
}
.Login{
    display: flex;
    align-items: center;
}

.container_login{
    
}
.container_login{
    background-color: #dfdfdf;
    width: 50rem;
    height: 50rem;
    border-radius: 20px;
}
.container_img{
    align-items: center;
    padding-top: 10px;
    padding-right: 40vh;
}
.container_img img{
    height: 45rem;
    padding-top: 100px;
}

.infos_login{
    padding-top: 5%;
}
.infos_login input{
    text-align: center;
    border: none;
    border-bottom: 3px solid #D10000;
    background-color: #dfdfdf;
}
.infos_login input :focus{
    border: none;
}
.infos_login h1{
    padding-left: 5%;
}