.footer{
    display: flex;
    background-color: #D10000;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    margin-right: 70%;
}
.logo h1{
    color: white;
}
.logo img{
    height: 80px;
}

.log{
    display: flex;
    gap: 40px;
    
}
.log button{
    border: none;
    background-color: #D10000;
    width: max-content;
    color: white;
}
.log button:hover{
    cursor: pointer;
}
